/***************** Animations ******************/

.rotateAnimate1 {
  animation-name: theAnimation;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.rotateAnimate2 {
  animation-name: theAnimation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: ease-out;
}

.rotateAnimateSlow1 {
  background-color: #ab0e86;
  animation-name: theAnimationSlow;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.rotateAnimateSlow2 {
  background-color: #ab0e86;

  animation-name: theAnimationSlow;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: ease-in-out;
}

#one div {
  animation-delay: -1.25s;
}

#two div {
  animation-delay: -2.5s;
}

#three div {
  animation-delay: -3.75s;
}

#four div {
  animation-delay: -5s;
}


@keyframes theAnimation {
  0% {transform:rotate(0deg);}
  25% {transform:rotate(360deg);}
  50% {transform:rotate(0deg);}
  100% {transform:rotate(-360deg);}
}

@keyframes theAnimationSlow {
  0% {transform:rotate(0deg);}
  25% {transform:rotate(360deg);}
  50% {transform:rotate(0deg);}
  100% {transform:rotate(-360deg);}
}
