/***************** Animations ******************/

.rotateAnimate1 {
  background-color: #1d0c5b;

  animation-name: theAnimation;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.rotateAnimate2 {
  background-color: #1d0c5b;

  animation-name: theAnimation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: ease-out;
}

.rotateAnimateSlow1 {
  background-color: #1d0c5b;
  animation-name: theAnimationSlow;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.rotateAnimateSlow2 {
  background-color: #1d0c5b;

  animation-name: theAnimationSlow;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: ease-in-out;
}


@keyframes theAnimation {
  0% {transform:rotate(0deg);}
  25% {transform:rotate(360deg);}
  50% {transform:rotate(0deg);}
  100% {transform:rotate(-360deg);}
}

@keyframes theAnimationSlow {
  0% {transform:rotate(0deg);}
  25% {transform:rotate(360deg);}
  50% {transform:rotate(0deg);}
  100% {transform:rotate(-360deg);}
}

/***************** Movement Animations ******************/

#movementHTML .rotateAnimate1 {
  background-color: #7971ea;

  animation-name: theAnimation;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#movementHTML .rotateAnimate2 {
  background-color: #7971ea;

  animation-name: theAnimation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: ease-out;
}

#movementHTML .rotateAnimateSlow1 {
  background-color: #7971ea;
  animation-name: theAnimationSlow;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#movementHTML .rotateAnimateSlow2 {
  background-color: #7971ea;

  animation-name: theAnimationSlow;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: ease-in-out;
}

.move1 {
  animation-name: move1;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.move2 {
  animation-name: move2;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.move3 {
  animation-name: move3;
  animation-duration: 90s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#B,#D,#F,#H,#J,#L,#N,#P,#R,#T,#V,#X,#Z {
  animation-direction: reverse;
}

#A,#D,#G,#J,#M,#P,#S,#V,#Y {
  animation-delay: -10s;
}

#C,#F,#I,#L,#O,#R,#U,#X {
  animation-delay: -20s;
}

.pause {
  animation-play-state: paused;
}

@keyframes move1 {
  0% {transform:matrix(1,0,0,1,0,0);}
  20% {transform:matrix(0.7,0,0,0.7,50,-10);}
  40% {transform:matrix(1,0,0,1,0,-20);}
  60% {transform:matrix(0.3,0,0,0.3,30,70);}
  80% {transform:matrix(0.5,0,0,0.5,100,150);}
  100% {transform:matrix(1,0,0,1,0,0);}
}

@keyframes move2 {
  0% {transform:matrix(0.4,0,0,0.4,20,20);}
  10% {transform:matrix(1,0,0,1,0,70);}
  45% {transform:matrix(0.3,0,0,0.3,40,-5);}
  75% {transform:matrix(0.6,0,0,0.6,100,50);}
  100% {transform:matrix(0.4,0,0,0.4,20,20);}
}

@keyframes move3 {
  0% {transform:matrix(0.2,0,0,0.2,10,10);}
  10% {transform:matrix(0.5,0,0,0.5,20,-15);}
  66% {transform:matrix(0.4,0,0,0.4,-100,50);}
  100% {transform:matrix(0.2,0,0,0.2,10,10);}
}
