body {
  padding: 0;
  margin: 0;
  background-color: #05092d;
}

section {
  margin: 100px 40px;
  width: 100%;
}

div {
  transition: 0.5s;
}

line {
  stroke: #ab0e86;
  stroke-width: 3;
}

/*****************General Letter Coding******************/

.letter {
  position: relative;
  display: inline-block;
  height: 200px;
  width: 90px;
  margin: 20px 55px;
  padding: 20px;
}

.letter div div {
  border-radius: 50px;
}

.vertL {
  height: 200px;
  width: 5px;
  transform: rotate(-4deg);
  position: absolute;


}

.vertR {
  height: 200px;
  width: 5px;
  transform: rotate(4deg);
  position: absolute;


}

.rightSide {
  margin-left: 80px;
}

.horzT {
  height: 5px;
  margin-left: 5px;
  width: 75px;
  transform: rotate(-4deg);
  position: absolute;


}

.horzB {
  height: 5px;
  margin-left: 5px;
  width: 75px;
  transform: rotate(4deg);
  position: absolute;


}

.diagL {
  height: 200px;
  width: 5px;
  transform: rotate(-26deg);
  position: absolute;

  margin-left: 40px;
}

.diagR {
  height: 200px;
  width: 5px;
  transform: rotate(-19deg);
  position: absolute;

  margin-left: 40px;
}

.diagLrev {
  height: 200px;
  width: 5px;
  transform: rotate(26deg);
  position: absolute;

  margin-left: 40px;
}

.diagRrev {
  height: 200px;
  width: 5px;
  transform: rotate(19deg);
  position: absolute;

  margin-left: 40px;
}

.bottomSide {
  margin-top: 195px;
}

.Hmiddle {
  margin-top: 95px;
  margin-left: 5px;
  width: 75px;
}

.Vmiddle {
  margin-left: 40px;
}

.Vshort {
  height: 95px;
}

.VshortB {
  height: 95px;
  margin-top: 100px;
}

/*****************Special Letter Coding******************/

#D-topL {
  height: 110px;
  width: 5px;
  transform: rotate(-36deg);
  position: absolute;

  margin-left: 40px;
}

#D-topR {
  height: 110px;
  width: 5px;
  transform: rotate(-29deg);
  position: absolute;

  margin-left: 40px;
}

#D-bottomL {
  height: 110px;
  width: 5px;
  transform: rotate(36deg);
  position: absolute;

  margin-left: 40px;
  margin-top: 90px;
}

#D-bottomR {
  height: 110px;
  width: 5px;
  transform: rotate(29deg);
  position: absolute;

  margin-left: 40px;
  margin-top: 90px;

}

.G-bar {
  width: 40px;
  margin-left: 40px;
}

.K-bar {
  width: 30px;
  margin-top: 95px;
}

#K-topL {
  height: 100px;
  width: 5px;
  transform: rotate(25deg);
  position: absolute;

  margin-left: 50px;
}

#K-topR {
  height: 100px;
  width: 5px;
  transform: rotate(18deg);
  position: absolute;

  margin-left: 50px;
}

#K-bottomL {
  height: 100px;
  width: 5px;
  transform: rotate(-25deg);
  position: absolute;

  margin-left: 50px;
  margin-top: 95px;
}

#K-bottomR {
  height: 100px;
  width: 5px;
  transform: rotate(-18deg);
  position: absolute;

  margin-left: 50px;
  margin-top: 95px;
}

#M-leftL {
  height: 100px;
  width: 5px;
  transform: rotate(-25deg);
  position: absolute;

  margin-left: 20px;
}

#M-leftR {
  height: 100px;
  width: 5px;
  transform: rotate(-18deg);
  position: absolute;

  margin-left: 20px;
}

#M-rightL {
  height: 100px;
  width: 5px;
  transform: rotate(25deg);
  position: absolute;

  margin-left: 60px;
}

#M-rightR {
  height: 100px;
  width: 5px;
  transform: rotate(18deg);
  position: absolute;

  margin-left: 60px;
}

#Q-L {
  height: 80px;
  width: 5px;
  transform: rotate(-26deg);
  position: absolute;

  margin-left: 65px;
  margin-top: 120px;
}

#Q-R {
  height: 80px;
  width: 5px;
  transform: rotate(-19deg);
  position: absolute;

  margin-left: 65px;
  margin-top: 120px;

}

#R-L {
  height: 105px;
  width: 5px;
  transform: rotate(-26deg);
  position: absolute;

  margin-left: 65px;
  margin-top: 95px;
}

#R-R {
  height: 105px;
  width: 5px;
  transform: rotate(-19deg);
  position: absolute;

  margin-left: 65px;
  margin-top: 95px;
}

#V-leftL {
  height: 200px;
  width: 5px;
  transform: rotate(-17deg);
  position: absolute;

  margin-left: 20px;
}

#V-leftR {
  height: 200px;
  width: 5px;
  transform: rotate(-10deg);
  position: absolute;

  margin-left: 20px;
}

#V-rightL {
  height: 200px;
  width: 5px;
  transform: rotate(17deg);
  position: absolute;

  margin-left: 70px;
}

#V-rightR {
  height: 200px;
  width: 5px;
  transform: rotate(10deg);
  position: absolute;

  margin-left: 70px;
}

#W-leftL {
  height: 100px;
  width: 5px;
  transform: rotate(25deg);
  position: absolute;

  margin-left: 20px;
  margin-top: 100px;
}

#W-leftR {
  height: 100px;
  width: 5px;
  transform: rotate(18deg);
  position: absolute;

  margin-left: 20px;
  margin-top: 100px;
}

#W-rightL {
  height: 100px;
  width: 5px;
  transform: rotate(-25deg);
  position: absolute;

  margin-left: 60px;
  margin-top: 100px;
}

#W-rightR {
  height: 100px;
  width: 5px;
  transform: rotate(-18deg);
  position: absolute;

  margin-left: 60px;
  margin-top: 100px;
}

#Y-leftL {
  height: 100px;
  width: 5px;
  transform: rotate(-25deg);
  position: absolute;

  margin-left: 20px;
}

#Y-leftR {
  height: 100px;
  width: 5px;
  transform: rotate(-18deg);
  position: absolute;

  margin-left: 20px;
}

#Y-rightL {
  height: 100px;
  width: 5px;
  transform: rotate(25deg);
  position: absolute;

  margin-left: 60px;
}

#Y-rightR {
  height: 100px;
  width: 5px;
  transform: rotate(18deg);
  position: absolute;

  margin-left: 60px;
}
