body {
  padding: 0;
  margin: 0;
  background-color: #f1f1f1;
}

section {
  margin: 100px 20px;
  width: 100%;
}

div.letter {
  width: 90px;
  height: 200px;
  position: relative;
  float: left;
  background-color: rgba(0, 0, 255, 0);
  margin: 10px;
}

svg {
  padding: 5px;
}

line {
  stroke: #333;
  stroke-width: 4;
}

h1 {
  padding: 0 20px;
  font-family: Helvetica, sans-serif;
}

p {
  padding: 0 20px;
  font-family: Helvetica, sans-serif;
}


/******** CHARETTE STUFF *****/

div.charette {
  width: 90px;
  height: 200px;
  position: relative;
  display: inline-block;
  background-color: rgba(0, 0, 255, 0);
  margin: 10px;
}

div.charette#one line:hover {
  stroke-width: 10;
}

div.charette#two line:hover {
  stroke: red;
}

#thirtyone1 {
  animation: moveLeft 0.2s ease-in 5;
  animation-play-state: paused;
}

#thirtyone2 {
  animation: moveRight 0.2s ease-in 5;
  animation-play-state: paused;
}

@keyframes moveLeft {
  0% {transform: translateX(0);}
  50% {transform: translateX(-20px);}
  100% {transform: translateX(0);}
}

@keyframes moveRight {
  0% {transform: translateX(0);}
  50% {transform: translateX(20px);}
  100% {transform: translateX(0);}
}
/* div.charette#three line {
  -webkit-transition: transform .5s;
    transition: transform .5s;
}

div.charette#three line:active {
  transform: rotate(360deg);
} */
