html, body {
  width: 100%;
  height: 100%;
}

.skrollr-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.helper {
  display: none;
  position: absolute;
  left: 0;
  top: 15%;
  height: 400%;
  width: 2%;
  background-color: blue;
}

.marker {
  width: 100%;
  height: 25%;
 }

 #one {
   background: #422B72;
 }

 #two {
   background: #266D98;
 }

 #three {
   background: #3CB29A;
 }

 #four {
   background: #C4F080;
 }

 .object {
   position: fixed;
   top: 40%;
   background-color: black;
   width: 15%;
   height: 15%;
 }

 #square1 {
  left: 25%;
 }

 #square2 {
  left: 40%;
 }

 #square3 {
  left: 55%;
 }

.second {
}

.third {
}

.button-next {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.5% 1%;
  background: #eee;
}

.button-home {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5% 1%;
  background: #eee;
}

a {
  text-decoration: none;
  color: #777;
  font-family: Helvetica, sans-serif;
}

.button-home:hover, .button-next:hover  {
  background-color: #777;
}

a:hover {
  color: #eee;
}
