@font-face {
    font-family: 'LarishNeueSemibold';
    src: url('fonts/LarishNeueSemibold-Regular.otf');
}

body {
  background-color: #111;
  transition: 2s ease;
}

.container{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	font-family: "LarishNeueSemibold", serif;
	background-color: #111;
  overflow: hidden;

}

h2 {
  font-size: 1em;
  position: fixed;
  top: 2%;
  left: 2%;
  color: #888;
  font-weight: 300;
}

.words {
  position:absolute;
	width:70%;
	height:70%;
	top:-10%;
	left:0%;
  transition: 0.5s ease-in;
  text-align: center;
  /* background-color: red; */
  cursor: default;
}


p {
  display: block;
  position: absolute;
  font-size: 8em;
  transition: 0.8s ease-out;
  color: #eee;
  top: 5%;
  left: 5%;
  filter: blur(25px);

}

.indicator {
  height: 20px;
  width: 20px;
  position: fixed;
  filter: blur(0.5px);
  color: #fff;
  font-family: sans-serif;
  font-size: 0.8em;
  transition: 1s ease-out;
}

#par1 {
  top: 15%;
  left: 30%;
}

#par2 {
  left: 40%;
  transition: 1.5s ease-out;

}

#par3 {
  top: 10%;
  left: 50%;
  transition: 2s ease-out;

}

#par4 {
  top: 50%;
  left: 10%;
  transition: 0.8s ease-out;

}

#par5 {
  top: 20%;
  left: 60%;
  transition: 0.8s ease-out;

}

#par6 {
  top: 60%;
  left: 20%;
  transition: 1.5s ease-out;

}

#par7 {
  top: 50%;
  left: 50%;
  transition: 0.8s ease-out;

}

#par8 {
  top: 0%;
  left: 10%;
  transition: 0.9s ease-out;

}

#par9 {
  top: 45%;
  left: 65%;
  transition: 0.8s ease-out;

}

#par10 {
  top: 15%;
  left: 15%;
  transition: 1s ease-out;

}

#par11 {
  top: 70%;
  left: 50%;
  transition: 1.8s ease-out;

}

#par12 {
  top: 70%;
  left: 40%;
  transition: 1.8s ease-out;
  font-size: 2em;
}

/* .opacityChange:hover {
  opacity: 0.1;
} */

#par1-indicator {
  top: 450px;
  left: 750px;
  border-right: 0.75px solid #fff;
  border-bottom: 0.75px solid #fff;

  /* animation: blinking 1s linear 30; */
}

#par2-indicator {
  top: 330px;
  left: 618px;
  border-right: 0.75px solid #fff;
  border-bottom: 0.75px solid #fff;
  opacity: 0;
}

#par3-indicator {
  top: 175px;
  left: 1013px;
  border-right: 0.75px solid #fff;
  border-bottom: 0.75px solid #fff;
  opacity: 0;
}

#par4-indicator {
  top: 317px;
  left: 817px;
  border-right: 0.75px solid #fff;
  border-bottom: 0.75px solid #fff;
  opacity: 0;
}


#par5-indicator {
  top: 370px;
  left: 920px;
  border-right: 0.75px solid #fff;
  border-bottom: 0.75px solid #fff;
  opacity: 0;
}

#par6-indicator {
  top: 515px;
  left: 1065px;
  border-right: 0.75px solid #fff;
  border-bottom: 0.75px solid #fff;
  opacity: 0;
}

#par7-indicator {
  top: 535px;
  left: 965px;
  border-right: 0.75px solid #fff;
  border-bottom: 0.75px solid #fff;
  opacity: 0;
}


#par8-indicator {
  top: 320px;
  left: 1320px;
  border-right: 0.75px solid #fff;
  border-bottom: 0.75px solid #fff;
  opacity: 0;

}

#par9-indicator {
  top: 277px;
  left: 554px;
  border-right: 0.75px solid #fff;
  border-bottom: 0.75px solid #fff;
  opacity: 0;

}

#par10-indicator {
  top: 600px;
  left: 600px;
  border-right: 0.75px solid #fff;
  border-bottom: 0.75px solid #fff;
  opacity: 0;

}

#par11-indicator {
  top: 500px;
  left: 400px;
  border-right: 0.75px solid #fff;
  border-bottom: 0.75px solid #fff;
  opacity: 0;

}

#par12-indicator {
  top: 500px;
  left: 200px;
  border-bottom: 0.75px solid #fff;
  opacity: 0;
  transition: 2s ease;
}

#main-indicator {
  bottom: 1%;
  right: 1%;
  border-right: 0.75px solid #fff;
  border-bottom: 0.75px solid #fff;

  animation: blinking 1s linear infinite;
}


.button {
  position: fixed;
  top: 4%;
  right: 2%;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;

  border-left: 15px solid white;

  filter: blur(1px);
  transition: .5s;

}

.button:hover {
  filter: blur(0px);
}





@media (max-width: 780px) and (min-width: 770px) and (max-height: 480px) and (min-height: 470px){
	#par1{
    filter: blur(0.3px);
    transform: translate(20px, -20px);
	}
}


@media (max-width: 650px) and (min-width: 640px) and (max-height: 360px) and (min-height: 320px) {
	#par2{
    filter: blur(0.3px);
    transform: translate(-20px, -20px);

	}
}


@media (max-width: 1045px) and (min-width: 1030px) and (max-height: 210px) and (min-height: 195px) {
	#par3{
    filter: blur(0.3px);
    transform: translate(-20px, -200px);

	}
}


@media (max-width: 850px) and (min-width: 840px) and (max-height: 350px) and (min-height: 340px){
	#par4{
    filter: blur(0.3px);
    transform: translate(50px, -90px);

	}
}


@media (max-width: 950px) and (min-width: 940px) and (max-height: 400px) and (min-height: 390px){
	#par5{
    filter: blur(0.3px);
    transform: translate(-20px, -20px);
	}
}

@media (max-width: 1100px) and (min-width: 1090px) and (max-height: 550px) and (min-height: 540px) {
	#par6{
    filter: blur(0.3px);
    transform: translate(-20px, -20px);
	}
}


@media (max-width: 1000px) and (min-width: 990px) and (max-height: 570px) and (min-height: 560px) {
	#par7{
    filter: blur(0.3px);
    transform: translate(-20px, -20px);
	}
}

@media (max-width: 1355px) and (min-width: 1340px) and (max-height: 355px) and (min-height: 340px) {
	#par8{
    filter: blur(0.3px);
    transform: translate(50px, -80px);
	}
}

@media (max-width: 585px) and (min-width: 580px) and (max-height: 305px) and (min-height: 295px) {
	#par9{
    filter: blur(0.3px);
    transform: translate(-20px, -20px);
	}
}

@media (max-width: 630px) and (min-width: 620px) and (max-height: 630px) and (min-height: 620px){
	#par10{
    filter: blur(0.3px);
    transform: translate(200px, 100px);
	}
}


@media (max-width: 430px) and (min-width: 420px) and (max-height: 530px) and (min-height: 520px){
	#par11{
    filter: blur(0.3px);
    transform: translate(-140px, -20px);
	}
}

@media (max-width: 400px) and (max-height: 530px) and (min-height: 520px){
	#par12{
    filter: blur(0.3px);
	}
}


@media (max-width: 1500px) {
	p {
    font-size: 13em;
	}
}

@media (max-width: 1000px) {
	p {
    font-size: 10em;
	}
}

@media (max-width: 750px) {
	p {
    font-size: 7em;
	}
}

@media (max-width: 500px) {
	p {
    font-size: 5em;
	}
}

/*  */

@media (max-width: 400px) {
	#par12-indicator {
    opacity: 1;
	}
}

/* Navigation Styling */

div.navigation {
  position: fixed;
  bottom: 0;
  left: 40%;
  width: 200px;
  height: 35px;
  margin: auto;
  background-color: black;
  opacity: 0.2;
}


.button-next {
  position: absolute;
  top: 8px;
  right: 15px;
  width: 25%;
  text-align: center;
}

.button-home {
  position: absolute;
  top: 8px;
  right: 72px;
  width: 25%;
  text-align: center;
}

.button-back {
  position: absolute;
  top: 8px;
  left: 15px;
  width: 25%;
  text-align: center;
}


a {
  text-decoration: none;
  color: #777;
  font-family: Helvetica, sans-serif;
}


a:hover {
  color: #eee;
}


div.navigation:hover {
  opacity: 1;

}


@keyframes blinking {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}

}


/* Intro Screen Styling */

.introScreen{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	font-family: "LarishNeueSemibold", serif;
	background-color: #fff;
  overflow: hidden;
  opacity: 0.9;
  text-align: center;
  transition: 2s ease;
}

.textBox {
  position: absolute;
  width: 300px;
  top: 200px;
  left: 580px;
  padding: 15px 1px;
  font-size: 2em;
}

.text {
  display: block;
  position: relative;
  right: 30px;
}

#startButton {
  display: block;
  position: relative;
  width: 250px;
  height: 10px;
  top: 50px;
  border-bottom: 2px solid black;
  font-size: 0.5em;
  transition: 1s ease;
  cursor: pointer;
  padding-bottom: 15px;
  cursor: default;

}

#startLine {
  width: 250px;
  height: 10px;
  position: absolute;
  bottom: 100px;
  left: 581px;
  border-bottom: 2px solid black;
  font-size: 0.8em;
  transition: 1s ease;
  animation: blinking 3s linear 20;

}

#startButton:hover {
  background-color: white;
  cursor: default;
}
