@font-face {
    font-family: 'LarishNeueSemibold';
    src: url('fonts/LarishNeueSemibold-Regular.otf');
}

body {
  background-color: #111;
  transition: 2s ease;
}

.container{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	font-family: "LarishNeueSemibold", serif;
	background-color: #111;
  overflow: hidden;

}

.box{
	position:relative;
	width:1300px;
	height:700px;
	top:0%;
	left:0%;
  transition: 0.5s;
  text-align: center;
  overflow: hidden;
}

.words {
  position:absolute;
	width:90%;
	height:70%;
	top:10%;
	left:10%;
  transition: 1s ease-in;
  text-align: center;
  /* background-color: red; */
}


p {
  display: block;
  position: absolute;
  font-size: 3em;
  transition: 0.5s ease-out;
  color: #eee;
  top: 5%;
  left: 5%;
  filter: blur(20px);

}

.indicator {
  height: 40px;
  width: 40px;
  position: fixed;
  filter: blur(0.4px);
  color: #fff;
  font-family: sans-serif;
  font-size: 0.8em;
}

#par1 {
  top: 15%;
  left: 30%;
}

#par2 {
  left: 40%;
}

#par3 {
  top: 10%;
  left: 50%;
}

#par4 {
  top: 50%;
  left: 10%;
}

#par5 {
  top: 20%;
  left: 60%;
}

#par6 {
  top: 60%;
  left: 20%;
}

#par7 {
  top: 50%;
  left: 50%;
}

#par8 {
  top: 0%;
  left: 10%;
}

#par9 {
  top: 45%;
  left: 65%;
}

#par10 {
  top: 15%;
  left: 15%;
}

#par11 {
  top: 70%;
  left: 50%;
}


#par1-indicator {
  top: 580px;
  left: 430px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

#par2-indicator {
  top: 601px;
  left: 1096px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

#par3-indicator {
  top: 155px;
  left: 990px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

#par4-indicator {
  top: 300px;
  left: 800px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

#par5-indicator {
  top: 350px;
  left: 900px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

#par6-indicator {
  top: 500px;
  left: 1050px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

#par7-indicator {
  top: 550px;
  left: 950px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

#par8-indicator {
  top: 300px;
  left: 1000px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

#par9-indicator {
  top: 270px;
  left: 550px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

#par10-indicator {
  top: 600px;
  left: 600px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

#par11-indicator {
  top: 500px;
  left: 400px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

#main-indicator {
  bottom: 1%;
  right: 1%;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;

    animation: blinking 3s linear 10;
}


.button {
  position: fixed;
  top: 4%;
  right: 2%;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;

  border-left: 15px solid white;

  filter: blur(1px);
  transition: .5s;

}

.button:hover {
  filter: blur(0px);
}





@media (max-width: 480px) and (max-height: 630px){
	#par1{
    filter: blur(1px);
    top: -5%;
    left: -10%;
	}
}

@media (max-width: 475px) and (max-height: 625px){
	#par1{
    filter: blur(20px);
	}

}

@media (max-width: 1150px) and (max-height: 680px){
	#par2{
    filter: blur(1px);
    top: 20%;
    left: 15%;

	}
}

@media (max-width: 1147px) and (max-height: 677px){
	#par2{
    filter: blur(20px);
	}
}

@media (max-width: 1045px) and (max-height: 210px){
	#par3{
    filter: blur(1px);
	}
}

@media (max-width: 1035px) and (max-height: 200px){
	#par3{
    filter: blur(20px);
	}
}

@media (max-width: 850px) and (max-height: 350px){
	#par4{
    filter: blur(1px);
	}
}

@media (max-width: 845px) and (max-height: 345px){
	#par4{
    filter: blur(20px);
	}
}


/* Navigation Styling */

div.navigation {
  position: fixed;
  bottom: 0;
  left: 40%;
  width: 200px;
  height: 35px;
  margin: auto;
  background-color: black;
  opacity: 0.2;
}


.button-next {
  position: absolute;
  top: 8px;
  right: 15px;
  width: 25%;
  text-align: center;
}

.button-home {
  position: absolute;
  top: 8px;
  right: 72px;
  width: 25%;
  text-align: center;
}

.button-back {
  position: absolute;
  top: 8px;
  left: 15px;
  width: 25%;
  text-align: center;
}


a {
  text-decoration: none;
  color: #777;
  font-family: Helvetica, sans-serif;
}


a:hover {
  color: #eee;
}


div.navigation:hover {
  opacity: 1;

}


@keyframes blinking {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}

}
