@font-face {
    font-family: 'LarishNeueSemibold';
    src: url('fonts/LarishNeueSemibold-Regular.otf');
}

.container{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	font-family: "LarishNeueSemibold", serif;
	background-color: #fff;

}

.box{
	position:absolute;
	width:100%;
	height:100%;
	top:0%;
	left:0%;
  transition: 0.5s;
}

p {
  display: block;
  position: absolute;
  font-size: 45px;
  transition: 0.1s ease-out;
  color: #49BEB7;
  filter: blur(10px);
}

#par1 {
  top: 20%;
  left: 15%;
}

#par2 {
  top: 10%;
  left: 25%;
}

#par3 {
  top: 20%;
  left: 50%;
}

#par4 {
  top: 50%;
  left: 70%;
}

#par5 {
  top: 70%;
  left: 85%;
}




@media (max-width: 1400px) {
	.box{
	}
}

@media (max-width: 1375px) {
	.box{
	}
}
@media (max-width: 1350px) {
	.box{
	}
}

@media (max-width: 1325px) {
	.box{
	}
}

@media (max-width: 1300px) {
	.box{
	}
}

@media (max-width: 1275px) {
	.box{
	}
}

@media (max-width: 1250px) {
  #par3 {
    filter: blur(0px);
  }
}

@media (max-width: 1225px) {
	.box{
	}
}

@media (max-width: 1200px) {
	.box{
	}
}

@media (max-width: 1175px) {
	.box{
	}
}

@media (max-width: 1150px) {
  #par3 {
    filter: blur(10px);
  }
}

@media (max-width: 1125px) {
	.box{
	}
}

@media (max-width: 1100px) {
	.box{
	}
}

@media (max-width: 1075px) {
	#par1{
    filter: blur(0px);
	}
}

@media (max-width: 1050px) {
	.box{
	}
}

@media (max-width: 1250px) {
	.box{
	}
}

@media (max-width: 1025px) {
	.box{
	}
}

@media (max-width: 1000px) {
  #par1{
    filter: blur(10px);
	}
}

@media (max-width: 975px) {
	.box{
	}
}
@media (max-width: 950px) {
  #par5{
    filter: blur(0px);
	}
}

@media (max-width: 925px) {
	.box{
	}
}

@media (max-width: 900px) {
  #par5{
    filter: blur(10px);
	}
}

@media (max-width: 875px) {
	.box{
	}
}

@media (max-width: 850px) {

}

@media (max-width: 825px) {
	.box{
	}
}

@media (max-width: 800px) {
  #par4{
    filter: blur(0px);
	}
}

@media (max-width: 775px) {
	.box{
	}
}

@media (max-width: 750px) {

}

@media (max-width: 725px) {
	.box{
	}
}

@media (max-width: 700px) {
	.box{
	}
}

@media (max-width: 675px) {
  #par4{
    filter: blur(10px);
	}
}

@media (max-width: 650px) {
	.box{
	}
}
@media (max-width: 625px) {
	.box{
	}
}

@media (max-width: 600px) {
	#par2 {
    filter: blur(0px);
  }
}

@media (max-width: 575px) {
	.box{
	}
}

@media (max-width: 550px) {
	.box{
	}
}

@media (max-width: 525px) {
	.box{
	}
}

@media (max-width: 500px) {
  #par2 {
    filter: blur(10px);
  }
}

@media (max-width: 475px) {
	.box{
	}
}

@media (max-width: 450px) {
	.box{
	}
}

@media (max-width: 425px) {
	.box{
	}
}

@media (max-width: 400px) {
	.box{
	}
}



/* Navigation Styling */

div.navigation {
  position: fixed;
  bottom: 0;
  left: 40%;
  width: 200px;
  height: 35px;
  margin: auto;
  background-color: black;
  opacity: 0.2;
}


.button-next {
  position: absolute;
  top: 8px;
  right: 15px;
  width: 25%;
  text-align: center;
}

.button-home {
  position: absolute;
  top: 8px;
  right: 72px;
  width: 25%;
  text-align: center;
}

.button-back {
  position: absolute;
  top: 8px;
  left: 15px;
  width: 25%;
  text-align: center;
}


a {
  text-decoration: none;
  color: #777;
  font-family: Helvetica, sans-serif;
}


a:hover {
  color: #eee;
}


div.navigation:hover {
  opacity: 1;

}
