html, body {
  margin: 0;
  padding: 0;
}

body {
  padding: 50px 100px;
  font-family: Helvetica, sans-serif;
}

.button {
  background-color: #eee;
  display: inline-block;
  width: 2%;
  height: 3%;
  padding: 2%;
  border-radius: 10%;
  margin: 0.5%;
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 28px;
  color: #666;
}

.button:hover {
  background-color: #666;
}

a:hover {
  color: #eee;
}
