@font-face {
    font-family: 'LarishNeueSemibold';
    src: url('fonts/LarishNeueSemibold-Regular.otf');
}

body {
  background-color: #333644;

}

.container{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	font-family: "LarishNeueSemibold", serif;
	background-color: #333644;
  overflow: hidden;

}

.box{
	position:relative;
	width:1300px;
	height:700px;
	top:0%;
	left:0%;
  transition: 0.5s;
  text-align: center;
  overflow: hidden;
}

p {
  display: block;
  position: absolute;
  font-size: 5em;
  transition: 0.3s ease-out;
  color: #70ACB1;

  filter: blur(20px);
}

#par4,#par5,#par6,#par7 {
  color: #F2F1A7;
}

#par1 {
  top: 5%;
  left: 65%;
}

#par2 {
  top: 25%;
  left: 40%;
}

#par3 {
  top: 40%;
  left: 10%;
}

#par4 {
  top: 10%;
  left: 15%;
}

#par5 {
  top: 50%;
  left: 15%;
}

#par6 {
  top: 50%;
  left: 55%;
}

#par7 {
  top: 70%;
  left: 65%;
}




@media (max-width: 1400px) {
	.box{
	}
}

@media (max-width: 1375px) {
	.box{
	}
}
@media (max-width: 1350px) {
	.box{
	}
}

@media (max-width: 1325px) {
	.box{
	}
}

@media (max-width: 1300px) {
	.box{
	}
}

@media (max-width: 1275px) {
  #par7 {
    filter: blur(1px);
  }
}

@media (max-width: 1250px) {

}

@media (max-width: 1225px) {
	.box{
	}
}

@media (max-width: 1200px) {
	.box{
	}
}

@media (max-width: 1175px) {

}

@media (max-width: 1150px) {

}

@media (max-width: 1125px) {
  #par1 {
    filter: blur(1px);
  }
}

@media (max-width: 1100px) {
	.box{
	}
}

@media (max-width: 1075px) {

}

@media (max-width: 1050px) {
	.box{
	}
}

@media (max-width: 1250px) {
	.box{
	}
}

@media (max-width: 1025px) {
	.box{
	}
}

@media (max-width: 1000px) {

}

@media (max-width: 975px) {
	.box{
	}
}
@media (max-width: 950px) {

}

@media (max-width: 925px) {
	.box{
	}
}

@media (max-width: 900px) {

}

@media (max-width: 875px) {
	.box{
	}
}

@media (max-width: 850px) {

}

@media (max-width: 825px) {
	.box{
	}
}

@media (max-width: 800px) {

}

@media (max-width: 775px) {
	.box{
	}
}

@media (max-width: 755px) {
  #par6 {
    filter: blur(1px);
  }
}

@media (max-width: 725px) {
	.box{
	}
}

@media (max-width: 700px) {
	.box{
	}
}

@media (max-width: 675px) {

}

@media (max-width: 650px) {
  #par2 {
    filter: blur(1px);
  }
}
@media (max-width: 625px) {
	.box{
	}
}

@media (max-width: 600px) {

}

@media (max-width: 575px) {
	.box{
	}
}

@media (max-width: 550px) {

}

@media (max-width: 525px) {

}

@media (max-width: 500px) {

}

@media (max-width: 475px) {
	.box{
	}
}

@media (max-width: 450px) {
	.box{
	}
}

@media (max-width: 425px) {
	.box{
	}
}

@media (max-width: 400px) {
	.box{
	}
}

@media (max-height: 515px) {
	#par5 {
    filter: blur(1px);
  }
}

@media (max-height: 440px) {
	#par3 {
    filter: blur(1px);
  }
}

@media (max-height: 275px) {
	#par4 {
    filter: blur(1px);
  }
}



/* Navigation Styling */

div.navigation {
  position: fixed;
  bottom: 0;
  left: 40%;
  width: 200px;
  height: 35px;
  margin: auto;
  background-color: black;
  opacity: 0.2;
}


.button-next {
  position: absolute;
  top: 8px;
  right: 15px;
  width: 25%;
  text-align: center;
}

.button-home {
  position: absolute;
  top: 8px;
  right: 72px;
  width: 25%;
  text-align: center;
}

.button-back {
  position: absolute;
  top: 8px;
  left: 15px;
  width: 25%;
  text-align: center;
}


a {
  text-decoration: none;
  color: #777;
  font-family: Helvetica, sans-serif;
}


a:hover {
  color: #eee;
}


div.navigation:hover {
  opacity: 1;

}
