html, body {
  width: 100%;
  height: 100%;
}

.skrollr-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.helper {
  display: none;
  position: absolute;
  left: 0;
  top: 15%;
  height: 400%;
  width: 2%;
  background-color: blue;
}

.marker {
  width: 100%;
  height: 25%;
 }
 /*  */

body{
  background-color: black;
}

.object {
   position: fixed;
   top: 30%;
   left: 5%;
   width: 10%;
   height: 30%;
   border-radius: 100%;
   border: 2.5px solid white;

 }


.two {
    position: fixed;
    top: 30%;
    left: 85%;
    width: 10%;
    height: 30%;
    border-radius: 100%;
    border: 2.5px solid white;
  }

.slowed {
  transition: 1s;
  top: 35%;
  width: 7%;
  height: 20%;
  border: none;
  background-color: red;
  opacity: 0.5;
}

.fill {
  background-color: black;
}


 /*  */
.button-next {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.5% 1%;
  background: #eee;
}

.button-home {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5% 1%;
  background: #eee;
}

.button-back {
  position: fixed;
  top: 0;
  left: 6.5%;
  padding: 0.5% 1%;
  background: #eee;
}

.button-back:hover {
  background-color: #777;
}


a {
  text-decoration: none;
  color: #777;
  font-family: Helvetica, sans-serif;
}

.button-home:hover, .button-next:hover  {
  background-color: #777;
}

a:hover {
  color: #eee;
}
